{% extends "layouts/base.twig" %}
{% set pageName = '404' %}

{% block content %}
<div class="section bg">
  <div class="o-wrapper">
    <div class="blog-item margin-top--4 margin-bottom--7">
      {# if post.thumbnail.src %}
      <div class="blog-item__thumb">
        <img src="{{ post.thumbnail.src }}" alt="Post Thumbnail" />
      </div>
      {% endif #}

      <div class="blog-item__wrapper">
        <div class="blog-item__container">
          <div class="blog-item__header">
            <h1>404</h1>
          </div>
          <div class="blog-item__content">
            <p> We're sorry the following page doesn't exist.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}


