/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
	position: relative;
	background: $bg-footer;

	p {
	color: $color-white;
		text-transform: uppercase;
		padding: 2rem $spacer;
		border-top: 2px solid #632943;
		margin: 0;
		font-size: 1rem;
		letter-spacing: .05rem;
	}

	&:after {
		content: none;
		position: absolute;
		width: 100%;
		height: 90%;
		background: url(../assets/images/footer_shadow.png);
	    background-position: center top;
		background-size: contain;
		background-repeat: no-repeat;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: -48px;
	}

	&__social {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0 0 4rem;
		padding: 0;

		li {
			margin: 0 .7rem;
			a {
				display: block;
				width: 36px;
				height: 37px;
				background: url(../assets/images/icon_sprite.png);

				&.social-in {
					background-position: 0 0;
				}

				&.social-tw {
					background-position: -36px 0;
				}

				&.social-fb {
					background-position: -73px 0;
				}
			}
		}
	}

	&__nav {
		letter-spacing: .3rem;
		white-space: nowrap;
		position: relative;
		z-index: 1;
		max-width: 1360px;
		list-style: none;
		margin: 1rem 0 0;
		list-style: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		li {

			&:after {
				margin: 1rem auto;
				content: '';
				display: block;
				width: 36px;
				height: 32px;
				background: url(../assets/images/icon_sprite.png);
				background-position: -109px 0;
			}

			&:last-child {
				&:after {
					opacity: 0;
				}
			}
		}

		a {
			color: $color-white;
			text-transform: uppercase;
    		text-decoration: none;
		}
	}

	&__logo {
		position: relative;
		overflow: hidden;
		margin: 0 auto -10px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		position: relative;
		top: -50px;
		padding: 0 3rem;
    	width: 166px;
    	height: 126px;
    	border-radius: 50%;
    	background: radial-gradient(#5a2539, $bg-footer);

    	img {
    		position: relative;
    		z-index: 1;
    	}
	}

	@include bp(medium) {
		&__nav {

			font-size: 1.2em;
			margin: 2rem 0 4rem;
			justify-content: space-between;
			flex-direction: row;

			li {
				text-align: center;
				flex: 1;
				margin-bottom: 0;
				display: flex;
				justify-content: space-around;
				align-items: center;

				&:after {
					margin: 0;
				}

				&:first-child {
				}

				&:last-child {
				    flex: .5;
				    text-align: right;
				    justify-content: flex-end;
				}
			}
		}
	}

	@include bp(large) {

		&__nav {
			margin-bottom: 7rem;
		}
		&:after {
			content: '';
			max-width: 1299px;
			background-size: 1299px auto;
			height: calc(100% + 110px);
			top: -110px;
		}
		&__logo {
			background: $bg-footer;
		    height: 280px;
    		width: 370px;
		    padding: 0 3rem;
		    top: -120px;
		    margin-bottom: -100px;
		}

		p {
		    padding: 3rem $spacer;
    		letter-spacing: .35rem;
		}
	}
}
