/* ==========================================================================
   #GALLERY
   ========================================================================== */

.slider-gallery {
	margin-bottom: 2rem;
	padding: 1.5rem 2rem 6rem;

	.slick-arrow {
		border-color: transparent #f2efef #f2efef  transparent;

		&.slick-next {
		right: 0;
		}

		&.slick-prev {
		left: 0;
		}
	}
	&:not(.slick-initialized) {
		display: flex;
		justify-content: center;

		.slide-gallery__content {
			height: 100%;
		}

		.slide-gallery__item {
			flex: 1;
		}

		@include bp(xlarge) {
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}

	&.slick-initialized {
		.slide-gallery__content {
			@include bp(medium) {
			img {
				filter: blur(3px);
				min-height: 500px;
				max-height: 700px;
			}

			.c-btn {
				display: none;
			}

			div {
				filter: blur(3px);
			}
		}
		}
	}

	@include bp(medium) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;

		.slick-arrow {
		    border-width: 0 15px 15px 0;
		    padding: 13px;

			&.slick-next {
			right: 0;
			}

			&.slick-prev {
			left: 0;
		}
		}
	}

	@include bp(xlarge)  {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}

.slide-gallery__item {
	outline: 0 none;
	position: relative;

	&:only-of-type {
	float: none;
		width: 100% !important;
		margin: 0 auto;
		max-width: 500px;

		.slide-gallery__content .c-btn {
			display: block;
		}
	}

	@include bp(small) {
		&.slick-center {

			z-index: 100;
			position: relative;

			.c-btn {
				display: block !important;
			}

			.slide-gallery__content {
				div {
				filter: none;
				}

				img {
				filter: none;
				}
			}
		}
	}
}

.prevSlide, .nextSlide {
  z-index: 50;
}


.slide-gallery__content {
	color: $color-white;
	transition: all .3s;
	z-index: 20;
	border: 4px solid  #f8f8f8;

	h3 {
		padding: 0 $spacer*1.5;
		margin-bottom: 0;
		font-size: 1.8em;
		letter-spacing: .3rem;
	}

	span {
		margin-bottom: 2rem;
		padding: 0 $spacer*1.5;
		display: block;
		font-size: 60%;
		letter-spacing: .1rem;
	}

	.c-btn {
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	img {
		height: 700px;
		display: block;
		width: 100%;
		object-fit: cover;
	}

	div {
		left: 4px;
		width: calc(100% - 8px);
		bottom: 0;
		position: absolute;
	}

	@include bp(large) {
		img {
			max-height: none !important;
			height: 1000px;
		}

		.c-btn {
			padding-top: 1.3rem;
			padding-bottom: 1.3rem;
		}
	}
}
