{% extends "layouts/base.twig" %}
{% set pageName = 'Detail Page' %}

{% block content %}
<div class="bg">
	  <div class="hero-detail">
		<div class="slider-detail">
			<div class="slider-detail__slide">
				<img src="assets/images/img_horses1.jpg" alt="" />
			</div>
			<div class="slider-detail__slide">
				<img src="assets/images/img_horses1.jpg" alt="" />
			</div>
			<div class="slider-detail__slide">
				<img src="assets/images/img_horses1.jpg" alt="" />
			</div>
		</div>
	</div>

	<div class="section">
		<div class="o-wrapper--lg">
			<div class="title-section title-section--divider">
				<h1>Bash</h1>
				<h3><strong>The Arabian knight</strong></h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat sapien sed nunc volutpat aliquet. Sed mollis orci nec tempus aliquam. Proin fringilla tellus et egestas euismod. Ut posuere sapien sed tempor molestie. Quisque faucibus ligula id ipsum porttitor, ac sollicitudin metus faucibus. </p>
			<p>Donec nec lacus at eros placerat iaculis. Curabitur fringilla ipsum nisi. Vivamus a urna nibh. Curabitur dictum sit amet sapien eu pellentesque. Aliquam viverra ultricies odio sed tempus. Nam ut ante interdum, finibus eros nec, varius metus. Nam ultricies velit enim, ac pellentesque nulla iaculis a.</p>
			<p>Nulla facilisi. Maecenas in luctus felis, eu faucibus arcu. Cras luctus efficitur metus eget gravida. Mauris luctus ligula a dolor aliquet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc congue quam ultricies, bibendum lectus et, ornare magna. Aenean eget tellus accumsan, maximus tellus eu, ultrices mauris. Ut sapien erat, sollicitudin a leo sit amet, hendrerit malesuada dui.</p>

			<div class="center-section">
				<h2>Michael Lock</h2>
				<h4>COO of ISRA Arabians</h4>
			</div>
		</div>
	</div>

	<div class="section-shadow--top section-shadow--bottom">
		<div class="o-wrapper--lg">
			<div class="o-layout--2 section-accom-video">
				<div class="o-layout__item">
					<h3><strong>ACCOMPLISHMENTS</strong></h3>
					<div class="box-accomplishments">
						<ul>
							<li><i></i>US National Top 10 English Trail Open </li>
							<li><i></i>2x US National Top 10 English Trail AAOTR </li>
							<li><i></i>US National Top 10 Western Trail Select AATR e 25)</li>
							<li><i></i>11x Champion Western Pleasure Class “A”</li>
							<li><i></i>2 x Region 8 Champion SHIH</li>
							<li><i></i>2 x Region 8 Reserve Champion SHIH</li>
							<li><i></i>11x Champion Western Pleasure Class “A”</li>
							<li><i></i>2 x Region 8 Champion SHIH</li>
						</ul>
					</div>
				</div>
				<div class="o-layout__item">
					<h3><strong>Video</strong></h3>
					<div class="video-box">
						<img src="assets/images/img_horses1.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="o-wrapper--full section">
			<div class="title-section title-section--divider">
				<h2><strong>Pedigree</strong></h2>
			</div>

			<div class="graphic-responsive">
				<ul class=" pedigree">
					<li class="o-layout">
						<h3 class="flex-20"><strong>RH Triana<span>2004 Paint</span></strong></h3>
						<ul class="flex-80 divi-before">
							<li class="o-layout">
								<h3 class="flex-25"><strong>OBSESSIVE<br />CONCLUSION<span>2004 PAINT</span></strong></h3>
								<ul class="flex-75  divi-before">
									<li class="o-layout">
										<h3 class="flex-33"><strong>OBSESED TO<br />IMPRESS<span>ch ov 1989<br />PAINT APHA#00161912</span></strong></h3>
										<ul class="flex-67  divi-before">
											<li class="o-layout">
												<h3 class="color-gray flex-1"><strong>SKIP BY<br />IMPRESS</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li><h4 class="color-gray"><strong>IMPRESIVE</strong></h4></li>
													<li><h4><strong>SKIPPED <br />TOWN</strong></h4></li>
												</ul>
											</li>
											<li class="o-layout">
												<h3 class="flex-1"><strong>OUR ANNIE<br />ROBIN</strong></h3>
												<ul class="last-branch flex-1 divi-before">
													<li>
														<h4 class="color-gray"><strong>PAINTED<br />ROBIN JR</strong></h4>
													</li>
													<li><h4><strong>PARTEE<br />ANITA</strong></h4></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="o-layout">
										<h3 class="flex-33"><strong>ROBS<br />CONCLUSIVE<span>1983 QUARTER<br />HORSE</span></strong></h3>
										<ul class="flex-67  divi-before">
											<li class="o-layout">
												<h3 class="color-gray flex-1"><strong>CONCLUSIVE</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li><h4 class="color-gray"><strong>IMPRESSIVE</strong></h4></li>
													<li><h4><strong>NIGHT <br />PACER</strong></h4></li>
												</ul>
											</li>
											<li class="o-layout">
												<h3 class="flex-1"><strong>MY CHRISTY<br />BAR</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li>
														<h4 class="color-gray"><strong>HOGAN<br />BARS</strong></h4>
													</li>
													<li><h4><strong>MISS<br />CRISPINE</strong></h4></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="o-layout">
								<h3 class="flex-25"><strong>CONCLUSIVELEY<br />CLUE<span>sor soi 1997<br />PAINT APHA-00411307</span></strong></h3>
								<ul class="flex-75  divi-before">
									<li class="o-layout">
										<h3 class="flex-33"><strong>CONCLUSIVELY<span>ch ov 1994 paint<br />apha #266956</span></strong></h3>
										<ul class="flex-67  divi-before">
											<li class="o-layout">
												<h3 class="color-gray flex-1"><strong>HINT OF<br />CONCLUSIVE</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li>
														<h4 class="color-gray"><strong>CONCLUSIVE</strong></h4>
													</li>
													<li>
														<h4><strong>HINTONS<br />LUCKY BILL</strong></h4>
													</li>
												</ul>
											</li>
											<li class="o-layout">
												<h3 class="flex-1"><strong>IMPRESS ME<br />TONIGHT</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li>
														<h4 class="color-gray"><strong>IMPRESSIVE<br />LEE</strong></h4>
													</li>
													<li><h4><strong>SKIPS<br />POWDER PUFF</strong></h4></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="o-layout">
										<h3 class="flex-33"><strong>CONCLUSIVELEY<br />CLUE<span>sor soi 1997<br />PAINT APHA-00411307</span></strong></h3>
										<ul class="flex-67  divi-before">
											<li class="o-layout">
												<h3 class="color-gray flex-1"><strong>TO A TE</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li>
														<h4 class="color-gray"><strong>SONNY<br />GO TE</strong></h4>
													</li>
													<li>
														<h4><strong>SIZZLIN<br />LUCK</strong></h4>
													</li>
												</ul>
											</li>
											<li class="o-layout">
												<h3 class="flex-1"><strong>FLET<br />DREAMS</strong></h3>
												<ul class="last-branch flex-1  divi-before">
													<li>
														<h4 class="color-gray"><strong>MR NORFLEET</strong></h4>
													</li>
													<li><h4><strong>MY TRUE<br />DREAM</strong></h4></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section section--md bg--light">
		<div class="o-wrapper--md">
			<div class="title-section title-section--divider">
				<h2><strong>History</strong></h2>
			</div>

			<div class="sliders-history">
				<ul class="slider-title">
					<li data-slick-index="1" class="slide-title">Jewel</li>
					<li data-slick-index="2" class="slide-title">Aria</li>
					<li data-slick-index="3" class="slide-title">Soriyah</li>
					<li data-slick-index="4" class="slide-title">Amina</li>
					<li data-slick-index="5" class="slide-title">Zorqa</li>
					<li data-slick-index="6" class="slide-title">Title</li>
					<li data-slick-index="7" class="slide-title">Title</li>
				</ul>

				<div class="slider-history">
					{% include 'components/slide-history.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


