{% extends "layouts/base.twig" %}
{% set pageName = 'Gallery' %}

{% block content %}
  <div class="section bg">
	<div class="o-wrapper--md">
		<h1 class="page-title page-title--border text-uppercase">Gallery</h1>
		{% include 'components/gallery.twig' %}
	</div>
  	
</div>
{% endblock %}


