{% extends "layouts/base.twig" %}
{% set pageName = 'Post' %}

{% block content %}
 <div class="section bg">
	<div class="o-wrapper">
		<div class="blog-item margin-top--4 margin-bottom--7">
			<div class="blog-item__thumb">
					<img src="assets/images/img_horses5.jpg" alt="" />
				</div>
			<div class="blog-item__wrapper">
				<div class="blog-item__container">
					<div class="blog-item__header">
						<h3>Latest News</h3>
						<h1>Bash Crowned Arabian Horse of the Year</h1>
						<ul class="blog-item__meta">
							<li>Posted in <a href="#">Breaking News</a></li>
							<li><svg class="feather">
				            <use xlink:href="assets/images/feather-sprite.svg#clock"/>
				            </svg><a href="#">03.03.2019</a></li>
							<li><svg class="feather feather--comments">
				            <use xlink:href="assets/images/feather-sprite.svg#message-square"/>
				            </svg><a href="#">11 Comments</a></li>
						</ul>
					</div>
					<div class="blog-item__content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare libero ac venenatis egestas. Aliquam 
						bibendum diam vitae rutrum scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
						per inceptos himenaeos. Fusce ut pellentesque nunc, et sollicitudin sapien...</p>
						<h3>Title here</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet. Aliquam non sapien orci. Aenean in massa varius, tempor tellus a, accumsan libero. Cras <a href="#">accumsan lectus</a> in elit convallis, sed tempus orci molestie. Suspendisse vel accumsan leo. Morbi vitae arcu nulla. Curabitur sollicitudin dolor diam, faucibus mattis libero vestibulum eget.</p>
						<img src="assets/images/img_horses5.jpg" alt="" />
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
						</ul>
						<h4>Title here</h4>
						<ol>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet.</li>
						</ol>
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet. Aliquam non sapien orci. Aenean in massa varius, tempor tellus a, accumsan libero. Cras <a href="#">accumsan lectus</a> in elit convallis, sed tempus orci molestie. Suspendisse vel accumsan leo. Morbi vitae arcu nulla. Curabitur sollicitudin dolor diam, faucibus mattis libero vestibulum eget.</p>
						</blockquote>
						<figure>
							<img src="assets/images/img_horses5.jpg" alt="" />
							<figcaption><em>Images caption</em></figcaption>
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat eros a lectus aliquam, a luctus nunc aliquet. Aliquam non sapien orci. Aenean in massa varius, tempor tellus a, accumsan libero. Cras <a href="#">accumsan lectus</a> in elit convallis, sed tempus orci molestie. Suspendisse vel accumsan leo. Morbi vitae arcu nulla. Curabitur sollicitudin dolor diam, faucibus mattis libero vestibulum eget.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
  	
</div>
{% endblock %}


