/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
 transition: all 0.3s ease-in-out
}

a {
  color: $color-link;
  text-decoration: underline;

  &:hover {
    color: $color-hover;
  }
}
