/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-wrapper {
	padding: 0 $spacer;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1255px;

  &--full {
  	padding: 0 $spacer;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  }

  &--lg {
    padding: 0 $spacer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 1670px;

    @include bp(large) {
      padding: 0 $spacer*2;
    }
  }

  &--md {
     padding: 0 $spacer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 1470px;

     @include bp(large) {
      padding: 0 $spacer*2;
    }
  }
}

.o-row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.h-100 {
	height: 100% !important;
}

.bg {
	background: url(../assets/images/bg.png) repeat-x;

  &--light {
    background-color: #fcfcfc;
  }
}