<div class="blog-item margin-top--4 margin-bottom--6">
	<div class="blog-item__wrapper">
	<div class="blog-item__container">
		<div class="blog-item__header">
			<h3>Latest News</h3>
			<h1><a href="#">Bash Crowned Arabian Horse of the Year</a></h1>
			<ul class="blog-item__meta">
				<li>Posted in <a href="#">Breaking News</a></li>
				<li><svg class="feather">
	            <use xlink:href="assets/images/feather-sprite.svg#clock"/>
	            </svg><a href="#">03.03.2019</a></li>
				<li><svg class="feather feather--comments">
	            <use xlink:href="assets/images/feather-sprite.svg#message-square"/>
	            </svg><a href="#">11 Comments</a></li>
			</ul>
		</div>
		<div class="blog-item__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare libero ac venenatis egestas. Aliquam 
			bibendum diam vitae rutrum scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
			per inceptos himenaeos. Fusce ut pellentesque nunc, et sollicitudin sapien...</p>
		</div>
		<div class="o-layout">
			<a href="#" class="c-btn c-btn--large margin-left--auto">Read More<i class="c-btn__arrow"></i></a>
		</div>
	</div>
	</div>
</div>