<div class="o-wrapper--full featured-home">
	<div class="o-row">
		<div class="o-layout__item">
			<a href="#"><img src="assets/images/img_horses1.jpg" alt="" /></a>
		</div>
		<div class="o-layout__item">
			<a href="#"><img src="assets/images/img_horses2.jpg" alt="" /></a>
		</div>
		<div class="o-layout__item">
			<a href="#"><img src="assets/images/img_horses3.jpg" alt="" /></a>
		</div>
		<div class="o-layout__item">
			<a href="#"><img src="assets/images/img_horses4.jpg" alt="" /></a>
		</div>
	</div>
</div>
