<footer class="c-footer u-text-center">
	<div class="o-wrapper">
  		<div class="c-footer__logo">
  			<img src="assets/images/logo_white.png" />
  		</div>
  		<ul class="c-footer__nav o-layout">
	  		<li><a href="#">Mares</a></li>
			<li><a href="#">Foals</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">About us</a></li>
  		</ul>
  		<ul class="c-footer__social o-layout">
  			<li><a href="#" class="social-in"></a></li>
			<li><a href="#" class="social-tw"></a></li>
			<li><a href="#" class="social-fb"></a></li>
  		</ul>
 	</div>
 	<p>&copy; {{"now"|date('Y')}} ISRA Arabians - All Rights Reserved.</p>
</footer>
