
<div class="slider-gallery">
	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>

	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>

	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>

	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>

	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>

	<div class="slide-gallery__item">
		<div class="slide-gallery__content">
			<img src="assets/images/gallery_img.jpg" alt="" />
			<div>
				<h3>BASH</h3>
				<span>THE ARABIAN KNIGHT</span>
				<a href="#" class="c-btn">View Profile</a>
			</div>
 		</div>
	</div>
</div>
