<header class="c-header">
	<div class="o-wrapper o-layout">
		<a href="/" rel="home" class="site-name"><img src="assets/images/logo.png" /></a>
		{% include 'components/nav.twig' %}
		<a href="#" class="toggle-nav"><span></span></a>
	</div>
</header>
