<nav class="nav">
	<ul class="navigation">
		<li><a href="#">Mares</a></li>
		<li class="item-mr"><a href="#">Foals</a></li>
		<li class="u-text-right"><a href="#">News</a></li>
		<li class="u-text-right"><a href="#">About us</a></li>
	</ul>
</nav>
