<ul class="pagination">
	<li><a href="#" class="pag-item pag-prev"></a></li>
	<li><a href="#" class="pag-item margin-right--1">1</a></li>
	<li><a href="#" class="pag-item">4</a></li>
	<li><a href="#" class="pag-item">5</a></li>
	<li><a href="#" class="pag-item">6</a></li>
	<li><a href="#" class="pag-item margin-left--1">9</a></li>
	<li><a href="#" class="pag-item pag-next"></a></li>
</ul>