<div class="slide-history__item"  data-slick-index="1">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/misc_1.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis. </strong></p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="2">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="3">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="4">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="5">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="6">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>

<div class="slide-history__item"  data-slick-index="7">
	<div class="slide-history__container">
		<div class="slide-history__thumb">
			<img src="assets/images/img_horses2.jpg" alt="" />
		</div>
		<div class="slide-history__content">
			<h3><strong>JEWEL: THE ARABIAN PRINCESS</strong></h3>
			<p><strong>Proin a venenatis urna. Nam massa odio, interdum in erat non, finibus malesuada quam. In vitae risus risus. Proin suscipit nisl at neque pellentesque, eget varius urna tincidunt. Aenean dictum lectus id nisi malesuada mattis.</strong> </p>
			<p><strong>Donec congue volutpat vehicula. Sed et metus et sapien condimentum aliquet. Nam in ligula eros. Suspendisse tempor commodo elit, eget pharetra metus suscipit efficitur. In finibus imperdiet sapien, eget bibendum justo. Mauris ut dui enim.</strong></p>
		</div>
	</div>
</div>