<div class="hero-home">
	<div class="slider-home">
		<div class="slider-home__slide" style="background-image: url(assets/images/hero.jpg)">
			<div class="slider-home__txt o-wrapper">
				<div class="o-layout o-layout--column">
					<h1>THE FINEST BREED OF<span>ARABIAN HORSES</span></h1>
					<p>LEARN ABOUT MARVA, OUR 6 TIME WORLD CHAMPION</p>
				</div>
			</div>
		</div>
	</div>
</div>
